{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 16:40:43 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["49c6891150bd83c20c05f4228265f80f"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["11"], "X-Rate-Limit-Reset":["1437670156"], "X-Response-Time":["158"], "X-Transaction":["506ad0eb0bc99075"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Jul 23 16:31:34 +0000 2015\",\"id\":624255543008489472,\"id_str\":\"624255543008489472\",\"text\":\"RT @TroyOlin: @3dsystemscorp Our new CubePro 3D printers are a think of beauty #3dprinting #gateschili http:\\/\\/t.co\\/9kfUjQjx7E\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":41580964,\"id_str\":\"41580964\",\"name\":\"3D Systems\",\"screen_name\":\"3dsystemscorp\",\"location\":\"Rock Hill, SC\",\"description\":\"A leading global provider of 3D content-to-print solutions including personal, professional and production 3D printers, print materials \u0026 custom parts services.\",\"url\":\"http:\\/\\/t.co\\/6hrGelvvMC\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/6hrGelvvMC\",\"expanded_url\":\"http:\\/\\/www.3dsystems.com\",\"display_url\":\"3dsystems.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":56672,\"friends_count\":2894,\"listed_count\":755,\"created_at\":\"Thu May 21 13:01:12 +0000 2009\",\"favourites_count\":228,\"utc_offset\":-14400,\"time_zone\":\"Eastern Time (US \u0026 Canada)\",\"geo_enabled\":true,\"verified\":true,\"statuses_count\":3054,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"131516\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme14\\/bg.gif\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme14\\/bg.gif\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/3350686665\\/f1b36dc4953f80612c73c1a23a04c8d6_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/3350686665\\/f1b36dc4953f80612c73c1a23a04c8d6_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/41580964\\/1371831399\",\"profile_link_color\":\"009999\",\"profile_sidebar_border_color\":\"EEEEEE\",\"profile_sidebar_fill_color\":\"EFEFEF\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Thu Jul 23 14:51:43 +0000 2015\",\"id\":624230415335821312,\"id_str\":\"624230415335821312\",\"text\":\"@3dsystemscorp Our new CubePro 3D printers are a think of beauty #3dprinting #gateschili http:\\/\\/t.co\\/9kfUjQjx7E\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\/download\\/android\\\" rel=\\\"nofollow\\\"\\u003eTwitter for Android\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":41[...]
[...]
{"request":{"method":"post","uri":"https://api.twitter.com/1.1/favorites/create.json","body":{"encoding":"UTF-8","string":"id=624255543008489472"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 16:40:44 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["42bbe80bed743ea3115132352e8af7cb"], "X-Response-Time":["185"], "X-Transaction":["c24307be7d194862"], "X-Tsa-Request-Body-Time":["1"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"{\"created_at\":\"Thu Jul 23 16:31:34 +0000 2015\",\"id\":624255543008489472,\"id_str\":\"624255543008489472\",\"text\":\"RT @TroyOlin: @3dsystemscorp Our new CubePro 3D printers are a think of beauty #3dprinting #gateschili http:\\/\\/t.co\\/9kfUjQjx7E\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"truncated\":false,\"i[...]
[...]
