{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 16:02:18 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["aadf24dd5113a9ff297a42491ffe99c4"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["12"], "X-Rate-Limit-Reset":["1437667851"], "X-Response-Time":["76"], "X-Transaction":["eec1cd1f9f052780"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Jul 23 15:57:12 +0000 2015\",\"id\":624246897457373184,\"id_str\":\"624246897457373184\",\"text\":\"Learn How to Prepare your Render\\/Animation Model for 3D Printing in this quick and simple tutorial: http:\\/\\/t.co\\/Ezvgy1bO9O\",\"source\":\"\\u003ca href=\\\"https:\\/\\/www.socialoomph.com\\\" rel=\\\"nofollow\\\"\\u003eSocialOomph\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":15536454,\"id_str\":\"15536454\",\"name\":\"Shapeways\",\"screen_name\":\"shapeways\",\"location\":\"New York, NY\",\"description\":\"A 3D printing service + marketplace where you can design, make, buy and sell amazing products.\",\"url\":\"http:\\/\\/t.co\\/6EnzsWk0UL\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/6EnzsWk0UL\",\"expanded_url\":\"http:\\/\\/www.shapeways.com\",\"display_url\":\"shapeways.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":368208,\"friends_count\":3199,\"listed_count\":1645,\"created_at\":\"Tue Jul 22 20:09:18 +0000 2008\",\"favourites_count\":11563,\"utc_offset\":-25200,\"time_zone\":\"Pacific Time (US \u0026 Canada)\",\"geo_enabled\":true,\"verified\":true,\"statuses_count\":19485,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"414E83\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/378800000165944219\\/spAHJ-_f.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/378800000165944219\\/spAHJ-_f.jpeg\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/425669630238003200\\/2zqcdiok_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/425669630238003200\\/2zqcdiok_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/15536454\\/1399058907\",\"profile_link_color\":\"3DA9DE\",\"profile_sidebar_border_color\":\"FFFFFF\",\"profile_sidebar_fill_color\":\"F2F2F2\",\"profile_text_color\":\"252F47\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/Ezvgy1bO9O\",\"expanded_url\":\"http:\\/\\/shpws.me\\/rsYF\",\"display_url\":\"shpws.me\\/rsYF\",\"indices\":[100,122]}]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"possibly_sensitive_appealable\":false,\"lang\":\"en\"},{\"created_at\":\"Thu Jul 23 15:53:59 +0000 2015\",\"id\":624246086186635264,\"id_str\":\"624246086186635264\",\"text\":\".@Prodways Brings MOVINGLight #3Dprinting to Turkey \u0026amp; Israel http:\\/\\/t.co\\/TKbL8tMFJ5 via @3DPrintIndustry http:\\/\\/t.co\\/cRVK9BKlqM\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\"[...]
{"request":{"method":"post","uri":"https://api.twitter.com/1.1/statuses/update.json","body":{"encoding":"UTF-8","string":"status=Tweetin"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 16:02:19 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["9bb9412f82adefec15a46656c85b1b8b"], "X-Response-Time":["114"], "X-Transaction":["644b93e527d20137"], "X-Tsa-Request-Body-Time":["3"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"{\"created_at\":\"Thu Jul 23 16:02:19 +0000 2015\",\"id\":624248182218698752,\"id_str\":\"624248182218698752\",\"text\":\"Tweetin\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\\" rel=\\\"nofollow\\\"\\u003eJamie's Twitter\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null[...]
[...]
