{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Connection-Hash":["24191beb9a700e5ff5efb99f3ed10a71"], "X-Response-Time":["4"]},"body":{"encoding":"ASCII-8BIT","string":"{\"errors\":[{\"code\":215,\"message\":\"Bad Authentication data.\"}]}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 06:36:36 GMT"}],"recorded_with":"VCR 2.9.3"}