{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Connection-Hash":["e5645af9bcf4fdf79ab9b4883ed0c31f"], "X-Response-Time":["6"]},"body":{"encoding":"ASCII-8BIT","string":"{\"errors\":[{\"code\":215,\"message\":\"Bad Authentication data.\"}]}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 06:22:38 GMT"}],"recorded_with":"VCR 2.9.3"}