{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 15:07:58 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["8fa2efd2c9d2d82dbe246ef8e0ceaf38"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["14"], "X-Rate-Limit-Reset":["1437664978"], "X-Response-Time":["111"], "X-Transaction":["6c06e021be2debf6"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Jul 23 15:06:30 +0000 2015\",\"id\":624234136052584448,\"id_str\":\"624234136052584448\",\"text\":\"RT @helloanselm: Such a good article by @codepo8 about \\u201cfinding pride in your work\\u201d: http:\\/\\/t.co\\/ZHtigUt1x1\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\/download\\/android\\\" rel=\\\"nofollow\\\"\\u003eTwitter for Android\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":288892765,\"id_str\":\"288892765\",\"name\":\"\\u0432\\u043a\\u03b1\\u044f\\u2202\\u03b5\\u2113\\u2113\",\"screen_name\":\"briankardell\",\"location\":\"\",\"description\":\"Front-end engineer - Betterifying the Web \\r\\nCo-author Extensible Web Manifesto | Standards Dude (jQuery)\\r\\n\\r\\nhttp:\\/\\/t.co\\/hZlnUBXuZV \\u00a6 http:\\/\\/t.co\\/ZBYXnTWuP4\",\"url\":\"http:\\/\\/t.co\\/ZBYXnTWuP4\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/ZBYXnTWuP4\",\"expanded_url\":\"http:\\/\\/briankardell.wordpress.com\",\"display_url\":\"briankardell.wordpress.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/hZlnUBXuZV\",\"expanded_url\":\"http:\\/\\/hitchjs.com\",\"display_url\":\"hitchjs.com\",\"indices\":[108,130]},{\"url\":\"http:\\/\\/t.co\\/ZBYXnTWuP4\",\"expanded_url\":\"http:\\/\\/briankardell.wordpress.com\",\"display_url\":\"briankardell.wordpress.com\",\"indices\":[133,155]}]}},\"protected\":false,\"followers_count\":626,\"friends_count\":812,\"listed_count\":48,\"created_at\":\"Wed Apr 27 16:52:51 +0000 2011\",\"favourites_count\":12785,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"verified\":false,\"statuses_count\":14104,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C6E2EE\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme2\\/bg.gif\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme2\\/bg.gif\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/599605558757498881\\/JPYfypw7_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/599605558757498881\\/JPYfypw7_normal.jpg\",\"profile_link_color\":\"1F98C7\",\"profile_sidebar_border_color\":\"C6E2EE\",\"profile_sidebar_fill_color\":\"DAECF4\",\"profile_text_color\":\"663B12\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Thu Jul 23 14:41:31 +0000 2015\",\"id\":624227848384024577,\"id_str\":\"624227848384024577\",\"text\":\"Such a good article by @codepo8 about \\u201cfinding pride in your work\\u201d: http:\\/\\/t.co\\/ZHtigUt1x1\",\"source\":\"\\u003ca href=\\\"http:\\/\\/tapbots.com\\/software\\/tweetbot\\/mac\\\" rel=\\\"nofollow\\\"\\u003eTweetbot for Mac\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"[...]
