<!DOCTYPE html>
<!--[if IE 8]><html class="lt-ie10 ie8" lang="en" data-scribe-reduced-action-queue="true"><![endif]-->
<!--[if IE 9]><html class="lt-ie10 ie9" lang="en" data-scribe-reduced-action-queue="true"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" data-scribe-reduced-action-queue="true"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://abs.twimg.com/a/1437342192/css/t1/twitter_core.bundle.css">
      <title>Twitter</title>
<meta name="msapplication-TileImage" content="//abs.twimg.com/favicons/win8-tile-144.png"/>
<meta name="msapplication-TileColor" content="#00aced"/>
<link rel="icon" sizes="any" mask href="https://abs.twimg.com/a/1437342192/img/t1/favicon.svg">
<meta name="theme-color" content="#55acee">
  <link href="//abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <meta name="swift-page-name" id="swift-page-name" content="home">
    <link rel="canonical" href="https://twitter.com/">
<link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Twitter">
  </head>
  <body class="three-col logged-in user-style-androidgrl enhanced-mini-profile"
data-fouc-class-names="swift-loading"
 dir="ltr">
    <div class="topbar js-topbar">
      <div class="ProfilePage-editingOverlay"></div>
      <div class="global-nav" data-section-term="top_nav">
        <div class="global-nav-inner">
          <div class="container">

            <h1 class="Icon Icon--bird bird-topbar-etched" style="display: inline-block; width: 24px; height: 21px;">
              <span class="visuallyhidden">Twitter</span>
            </h1>
            <div role="navigation" style="display: inline-block;"><ul class="nav js-global-actions" id="global-actions"><li id="global-nav-home" class="home active" data-global-action="home">
                  <a class="js-nav js-tooltip js-dynamic-tooltip" data-placement="bottom" href="/" data-component-term="home_nav" data-nav="home">
                    <span class="Icon Icon--home Icon--large"></span>
                    <span class="text">Home</span>
                  </a>
                </li><li class="people notifications" data-global-action="connect">
                  <a class="js-nav js-tooltip js-dynamic-tooltip" data-placement="bottom" href="/i/notifications" data-component-term="connect_nav" data-nav="connect">
                    <span class="Icon Icon--notifications Icon--large"></span>
                    <span class="text">Notifications</span>
                    <span class="count">
                      <span class="count-inner">0</span>
                    </span>
                  </a>
                </li><li class="dm-nav">
                  <a role="button" href="#" class="js-tooltip js-dynamic-tooltip global-dm-nav" data-placement="bottom">
                    <span class="Icon Icon--dm Icon--large"></span>
                    <span class="text">Messages</span>
                    <span class="dm-new"><span class="count-inner"></span></span>
                  </a>
                </li></ul>
            </div>

            <div class="pull-right" style="display: inline-block;"><div role="search">
                <form class="t1-form form-search js-search-form" action="/search" id="global-nav-search">
                  <label class="visuallyhidden" for="search-query">Search query</label>
                  <input class="search-input" type="text" id="search-query" placeholder="Search Twitter" name="q" autocomplete="off" spellcheck="false">
                  <span class="search-icon js-search-action">
                    <button type="submit" class="Icon Icon--search nav-search">
                      <span class="visuallyhidden">Search Twitter</span>
                    </button>
                  </span>
                  <div role="listbox" class="dropdown-menu typeahead">
                    <div aria-hidden="true" class="dropdown-caret">
                      <div class="caret-outer"></div>
                      <div class="caret-inner"></div>
                    </div>
                    <div role="presentation" class="dropdown-inner js-typeahead-results">
                      <div role="presentation" class="typeahead-recent-searches">
                        <h3 id="recent-searches-heading" class="typeahead-category-title recent-searches-title">Recent searches</h3><button type="button" tabindex="-1" class="btn-link clear-recent-searches">Clear All</button>
                        <ul role="presentation" class="typeahead-items recent-searches-list">

                          <li role="presentation" class="typeahead-item typeahead-recent-search-item">
                            <span class="Icon Icon--close" aria-hidden="true"><span class="visuallyhidden">Remove</span></span>
                            <a role="option" aria-describedby="recent-searches-heading" class="js-nav" href="" data-search-query="" data-query-source="" data-ds="recent_search" tabindex="-1"></a>
                          </li>
                        </ul>
                      </div>

                      <div role="presentation" class="typeahead-saved-searches">
                        <h3 id="saved-searches-heading" class="typeahead-category-title saved-searches-title">Saved searches</h3>
                        <ul role="presentation" class="typeahead-items saved-searches-list">

                          <li role="presentation" class="typeahead-item typeahead-saved-search-item">
                            <span class="Icon Icon--close" aria-hidden="true"><span class="visuallyhidden">Remove</span></span>
                            <a role="option" aria-describedby="saved-searches-heading" class="js-nav" href="" data-search-query="" data-query-source="" data-ds="saved_search" tabindex="-1"></a>
                          </li>
                        </ul>
                      </div>

                      <ul role="presentation" class="typeahead-items typeahead-topics">

                        <li role="presentation" class="typeahead-item typeahead-topic-item">
                          <a role="option" class="js-nav" href="" data-search-query="" data-query-s     </li>

                        <li class="dropdown-divider"></li>
                        <li><a href="/settings/account" data-nav="settings" class="js-nav">Settings</a></li>
                        <li class="js-signout-button" id="signout-button" data-nav="logout">
                          <button type="button" class="dropdown-link">Log o</div>
                  </div>>
  </body>
</html>
<input type="hidden" id="init-data" class="json-data" value="{&quot;profileHoversEnabled&quot;:false,&quot;permalinkOverlayEnabled&quot;:false,&quot;baseFoucClass&quot;:&quot;swift-loading&quot;,&quot;bodyFoucClassNames&quot;:&quot;swift-loading&quot;,&quot;macawSwift&quot;:true,&quot;assetsBasePath&quot;:&quot;https:\/\/abs.twimg.com\/a\/1437342192\/&quot;,&quot;assetVersionKey&quot;:&quot;c6f1bb&quot;,&quot;environment&quot;:&quot;production&quot;,&quot;formAuthenticityToken&quot;:&quot;238b34a09a3a2c9ccecbe16d756cb50f9206c84b&quot;,&quot;loggedIn&quot;:true,&quot;screenName&quot;:&quot;androidgrl&quot;,&quot;fullName&quot;:&quot;Jamie Kawahara&quot;,&quot;userId&quot;:&quot;2579384508&quot;,&quot;allowAdsPersonalization&quot;:false,&quot;scribeBufferSize&quot;:3,&quot;pageName&quot;:&quot;home&quot;,&quot;sectionName&quot;:&quot;home&quot;,&quot;scribeParameters&quot;:{&quot;lang&quot;:&quot;en&quot;},&quot;recaptchaApiUrl&quot;:&quot;https:\/\/www.google.com\/recaptcha\/api\/js\/recaptcha_ajax.js&quot;,&quot;internalReferer&quot;:null,&quot;geoEnabled&quot;:false,&quot;typeaheadData&quot;:{&quot;accounts&quot;:{&quot;enabled&quot;:true,&quot;localQueriesEnabled&quot;:true,&quot;remoteQueriesEnabled&quot;:true,&quot;limit&quot;:6},&quot;trendLocations&quot;:{&quot;enabled&quot;:true},&quot;dmConversations&quot;:{&quot;enabled&quot;:true},&quot;savedSearches&quot;:{&quot;enabled&quot;:true,&quot;items&quot;:[]},&quot;dmAccounts&quot;:{&quot;enabled&quot;:true,&quot;localQueriesEnabled&quot;:true,&quot;remoteQueriesEnabled&quot;:true,&quot;onlyDMable&quot;:true},&quot;mediaTagAccounts&quot;:{&quot;enabled&quot;:true,&quot;localQueriesEnabled&quot;:true,&quot;remoteQueriesEnabled&quot;:true,&quot;onlyShowUsersWithCanMediaTag&quot;:false,&quot;currentUserId&quot;:2579384508},&quot;selectedUsers&quot;:{&quot;enabled&quot;:true},&quot;prefillUsers&quot;:{&quot;enabled&quot;:true},&quot;topics&quot;:{&quot;enabled&quot;:true,&quot;localQueriesEnabled&quot;:false,&quot;remoteQueriesEnabled&quot;:true,&quot;prefetchLimit&quot;:500,&quot;limit&quot;:4},&quot;concierge&quot;:{&quot;enabled&quot;:false,&quot;localQueriesEnabled&quot;:false,&quot;remoteQueriesEnabled&quot;:false,&quot;prefetchLimit&quot;:500,&quot;limit&quot;:6},&quot;recentSearches&quot;:{&quot;enabled&quot;:true},&quot;hashtags&quot;:{&quot;enabled&quot;:true,&quot;localQueriesEnabled&quot;:false,&quot;remoteQueriesEnabled&quot;:true,&quot;prefetchLimit&quot;:500},&quot;useIndexedDB&quot;:false,&quot;showSearchAccountSocialContext&quot;:true,&quot;showTypeaheadTopicSocialContext&quot;:false,&quot;showDebugInfo&quot;:false,&quot;useThrottle&quot;:true,&quot;accountsOnTop&quot;:false,&quot;remoteDebounceInterval&quot;:300,&quot;remoteThrottleInterval&quot;:300,&quot;reverseBoldingEnabled&quot;:false,&quot;tweetContextEnabled&quot;:false,&quot;fullNameMatchingInCompose&quot;:true,&quot;topicsWithFiltersEnabled&quot;:true},&quot;dm&quot;:{&quot;participant_max&quot;:50,&quot;theme&quot;:&quot;rosetta&quot;},&quot;pushStatePageLimit&quot;:500000,&quot;routes&quot;:{&quot;profile&quot;:&quot;\/androidgrl&quot;},&quot;pushState&quot;:true,&quot;viewContainer&quot;:&quot;#page-container&quot;,&quot;dragAndDropPhotoUpload&quot;:true,&quot;href&quot;:&quot;\/&quot;,&quot;searchPathWithQuery&quot;:&quot;\/search?q=query&amp;src=typd&quot;,&quot;timelineCardsGallery&quot;:true,&quot;deciders&quot;:{&quot;bulkUnfollowEnabled&quot;:true,&quot;custom_timeline_curation&quot;:false,&quot;disable_profile_popup&quot;:false,&quot;dm_flag_conversation&quot;:true,&quot;dm_max_characters&quot;:140,&quot;dm_polling_frequency_in_seconds&quot;:3,&quot;enable_media_tag_prefetch&quot;:true,&quot;enableMacawNymizerConversionLanding&quot;:false,&quot;geoStructuredLocationEnabled&quot;:true,&quot;hqImageUploads&quot;:false,&quot;largeHeaderImageUpload&quot;:true,&quot;mqImageUploads&quot;:false,&quot;partnerIdSyncEnabled&quot;:true,&quot;photoSruGif&quot;:false,&quot;progressive_resize_enabled&quot;:true,&quot;promoted_video_logging_enabled&quot;:true,&quot;pushState&quot;:true,&quot;scribeActionQueue&quot;:false,&quot;scribeReducedActionQueue&quot;:true,&quot;smartInfiniteScroll&quot;:false,&quot;useHtml5Webcam&quot;:true,&quot;web_perftown_stats&quot;:true,&quot;web_perftown_ttft&quot;:true,&quot;web_upload_direct&quot;:true,&quot;web_upload_video&quot;:false,&quot;tweetbox_dynamic_media_previews&quot;:false,&quot;tweetbox_bigger_media_previews&quot;:false,&quot;dynamicVideoAdsEnabled&quot;:true,&quot;internationalShippingEnabled&quot;:true,&quot;useV2EndpointsEnabled&quot;:true,&quot;topVideosEnabled&quot;:false,&quot;autoplayMediaInTimeline&quot;:true,&quot;useVmapVariants&quot;:false},&quot;experiments&quot;:{},&quot;permalinkCardsGallery&quot;:false,&quot;toasts_dm&quot;:true,&quot;toasts_spoonbill&quot;:true,&quot;toasts_timeline&quot;:false,&quot;toasts_dm_poll_scale&quot;:60,&quot;uploadDomain&quot;:&quot;upload.twitter.com&quot;,&quot;promptbirdData&quot;:{&quot;promptbirdEnabled&quot;:true,&quot;immediateTriggers&quot;:[&quot;PullToRefresh&quot;,&quot;Navigate&quot;],&quot;format&quot;:&quot;HomeTimeline&quot;},&quot;freezeDashboard&quot;:false,&quot;deviceEnabled&quot;:true,&quot;hasPushDevice&quot;:true,&quot;smsDeviceVerified&quot;:true,&quot;inResearchGroup&quot;:false,&quot;shouldReplaceSignupWithLogin&quot;:false,&quot;shouldUseEducationalSignupDialogs&quot;:false,&quot;pollingOptions&quot;:{&quot;focusedInterval&quot;:10000,&quot;blurredInterval&quot;:100000,&quot;backoffFactor&quot;:2,&quot;backoffEmptyResponseLimit&quot;:2,&quot;pauseAfterBackoff&quot;:true,&quot;resumeItemCount&quot;:100},&quot;emptyTimelineOptions&quot;:{&quot;pc&quot;:true,&quot;connections&quot;:true,&quot;limit&quot;:3,&quot;display_location&quot;:&quot;wtf-component&quot;,&quot;dismissable&quot;:false,&quot;disabled&quot;:false,&quot;emptyTimelineModule&quot;:false,&quot;followingCount&quot;:81},&quot;help_pips_decider&quot;:false,&quot;injectComposedTweets&quot;:true,&quot;moreCSSBundles&quot;:[&quot;https:\/\/abs.twimg.com\/a\/1437342192\/css\/t1\/twitter_more_1.bundle.css&quot;,&quot;https:\/\/abs.twimg.com\/a\/1437342192\/css\/t1\/twitter_more_2.bundle.css&quot;],&quot;timeline_url&quot;:&quot;\/i\/timeline&quot;,&quot;reinjectedPromotedTweets&quot;:true,&quot;show_sms_confirmation_dialog&quot;:false,&quot;profileEditingCSSBundle&quot;:&quot;https:\/\/abs.twimg.com\/a\/1437342192\/css\/t1\/twitter_profile_editing.bundle.css&quot;,&quot;injectTweetOnFollow&quot;:true,&quot;registerWebN&quot;:false,&quot;trendsCacheKey&quot;:&quot;00f6d67657&quot;,&quot;decider_personalized_trends&quot;:true,&quot;trendsEndpoint&quot;:&quot;\/i\/trends&quot;,&quot;wtfOptions&quot;:{&quot;pc&quot;:true,&quot;connections&quot;:true,&quot;limit&quot;:3,&quot;display_location&quot;:&quot;wtf-component&quot;,&quot;dismissable&quot;:true,&quot;disabled&quot;:false},&quot;hasUserCompletionModule&quot;:false,&quot;inlineTweetComposeEnabled&quot;:false,&quot;inlineTweetComposeOptions&quot;:{&quot;text&quot;:null},&quot;initialState&quot;:{&quot;title&quot;:&quot;Twitter&quot;,&quot;section&quot;:&quot;home&quot;,&quot;module&quot;:&quot;app\/pages\/home&quot;,&quot;cache_ttl&quot;:300,&quot;body_class_names&quot;:&quot;three-col logged-in user-style-androidgrl enhanced-mini-profile&quot;,&quot;doc_class_names&quot;:&quot;route-home&quot;,&quot;route_name&quot;:&quot;home&quot;,&quot;page_container_class_names&quot;:&quot;AppContent wrapper wrapper-home&quot;,&quot;ttft_navigation&quot;:false}}">


<input type="hidden" class="swift-boot-module" value="app/pages/home">
<input type="hidden" id="swift-module-path" value="https://abs.twimg.com/c/swift/en">

